<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.d.m">

	<delete id="specificoptiondelete">
		delete from tbl_goods_option where rownum = #{rownum}
	</delete>

	<select id="getoption" resultType="GoodsOptionDTO">
		select * from tbl_goods_option where goods_no = #{info}
	</select>

	<update id="goodsupdate">
		update tbl_goods set goods_nm = #{goods_nm}, makr = #{makr}, goods_category = #{goods_category}, goods_img = #{goods_img}, goods_info_img = #{goods_info_img}, goods_info_text = #{goods_info_text} where goods_no = #{goods_no}
	</update>

	<delete id="deleteoption">
		delete from tbl_goods_option where goods_no = #{no}
	</delete>
	<delete id="deletegoods">
		delete from tbl_goods where goods_no = #{no}
	</delete>
	
	<select id="getgoods" resultType="GoodsDTO">
		select * from tbl_goods where goods_no = #{goods_no}
	</select>

	<insert id="goodsInsert">
		insert into tbl_goods (goods_no, goods_nm, makr, goods_category, goods_img, goods_info_img, goods_info_text) values (#{goods_no}, #{goods_nm}, #{makr}, #{goods_category}, #{goods_img}, #{goods_info_img}, #{goods_info_text})
	</insert>
	
	<insert id="goodsoptioninsert">
		insert into tbl_goods_option (goods_no, goods_amount, goods_untpc, goods_size, goods_color) values (#{goods_no}, #{goods_amount}, #{goods_untpc}, #{goods_size}, #{goods_color})
	</insert>

</mapper>

	