<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.d.m">

	<update id="refundorder">
		update tbl_order set ORDER_PRO_STTUS_CODE = '반송 중' where order_no = #{no} 
	</update>


	<update id="cancleorder">
		update tbl_order set ORDER_PRO_STTUS_CODE = '취소' where order_no = #{no}
	</update>

	<select id="getorderlist" resultType="OrderListDTO">
		select o.order_no, o.order_pro_sttus_code, o.delivery_adbk_no, o.order_date, o.delivery_no, d.goods_size, d.goods_color, d.goods_untpc, d.goods_no, d.order_amount, g.goods_img, g.goods_nm, r.delivery_date from tbl_order o, tbl_order_detail d, tbl_delivery r, tbl_goods g where o.order_no = d.order_no and o.delivery_no = r.delivery_no and d.goods_no = g.goods_no and o.email = #{email} order by o.order_no
	</select>

	<update id="changeorderstatus">
		update tbl_order set order_pro_sttus_code = #{info} where order_no = #{no}
	</update>

	<select id="getdeliverylist" resultType="OrderDTO">
		select * from tbl_order
	</select>

	<insert id="optioninput">
		insert into tbl_goods_option (goods_no, goods_amount, goods_untpc, goods_size, goods_color) values (#{goods_no}, #{goods_amount}, #{goods_untpc}, #{goods_size}, #{goods_color})
	</insert>

	<delete id="specificoptiondelete">
		delete from tbl_goods_option where goods_no = #{goods_no} and goods_color = #{goods_color} and goods_size = #{goods_size}
	</delete>

	<select id="getoption" resultType="GoodsOptionDTO">
		select * from tbl_goods_option where goods_no = #{info}
	</select>

	<update id="goodsupdate">
		update tbl_goods set goods_nm = #{goods_nm}, makr = #{makr}, goods_category = #{goods_category}, goods_img = #{goods_img}, goods_info_img = #{goods_info_img}, goods_info_text = #{goods_info_text} where goods_no = #{goods_no}
	</update>

	<delete id="deleteoption">
		delete from tbl_goods_option where goods_no = #{no}
	</delete>
	<delete id="deletegoods">
		delete from tbl_goods where goods_no = #{no}
	</delete>
	
	<select id="getgoods" resultType="GoodsDTO">
		select * from tbl_goods where goods_no = #{goods_no}
	</select>

	<insert id="goodsInsert">
		insert into tbl_goods (goods_no, goods_nm, makr, goods_category, goods_img, goods_info_img, goods_info_text) values (#{goods_no}, #{goods_nm}, #{makr}, #{goods_category}, #{goods_img}, #{goods_info_img}, #{goods_info_text})
	</insert>
	
	<insert id="goodsoptioninsert">
		insert into tbl_goods_option (goods_no, goods_amount, goods_untpc, goods_size, goods_color) values (#{goods_no}, #{goods_amount}, #{goods_untpc}, #{goods_size}, #{goods_color})
	</insert>

</mapper>

	