<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="b.o.a">

	<select id="list" resultType="GoodsDTO">
		SELECT * FROM tbl_goods ORDER BY
		goods_no DESC
	</select>

	<select id="option" resultType="GoodsOptionDTO">
		SELECT * FROM tbl_goods_option ORDER BY
		goods_no DESC
	</select>
</mapper>

	