<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m.e.m">

	<insert id="insert">
		INSERT INTO tbl_member (email, mpw, key) values (#{email}, #{mpw}, #{key})
	</insert>
	
	<select id="idCheck" resultType="MemberDTO">
		SELECT * FROM tbl_member WHERE email = #{email}
	</select>
	
	<select id="login" resultType="MemberDTO">
		SELECT * FROM tbl_member WHERE email = #{email} and mpw = #{mpw}
	</select>

	<update id="keyAlter">
		UPDATE tbl_member SET key = 'Y' WHERE email = #{email} and key = #{key}
	</update>
	
	<select id="read" resultType="MemberDTO">
		SELECT * FROM tbl_member WHERE email = #{email}
	</select>
	
	<select id="updateui" resultType="MemberDTO">
		SELECT * FROM tbl_member WHERE email = #{email}
	</select>

	<update id="update">
		UPDATE tbl_member SET mpw=#{mpw} WHERE email =#{email}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_member WHERE email = #{email}
	</delete>
	
</mapper>

