<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="o.r.d">

	<select id="setamountzero">
		UPDATE tbl_goods_option SET goods_amount = 0 WHERE goods_no = #{goodsNo} and
		goods_color = #{goodsColor} and goods_size = #{goodsSize}
	</select>

	<select id="getremainamount" resultType="Integer">
		SELECT goods_amount FROM
		tbl_goods_option WHERE goods_no = #{goodsNo} and goods_color =
		#{goodsColor} and goods_size = #{goodsSize}
	</select>

	<update id="reducegoods">
		UPDATE tbl_goods_option SET goods_amount =
		goods_amount - #{goodsQuantity}
		WHERE goods_no = #{goodsNo} and
		goods_color = #{goodsColor} and
		goods_size = #{goodsSize}
	</update>

	<delete id="deletecart">
		DELETE FROM tbl_cart WHERE email = #{email}
	</delete>

	<select id="getorderno" resultType="Integer">
		SELECT order_no FROM
		tbl_order WHERE email = #{email} and delivery_no =
		#{delivery_no}
	</select>

	<insert id="insertorderdetail">
		INSERT INTO tbl_order_detail (order_no, goods_no,
		order_amount, goods_untpc,
		goods_size, goods_color) VALUES
		(#{order_no}, #{goods_no},
		#{order_amount}, #{goods_untpc},
		#{goods_size}, #{goods_color})
	</insert>


	<select id="selectcart" resultType="CartDTO">
		SELECT * FROM tbl_cart WHERE
		email = #{email}
	</select>

	<select id="getdelino" resultType="Integer">
		SELECT MAX(delivery_no) FROM
		tbl_delivery
	</select>

	<select id="adbkselectno" resultType="DeliveryAdbkDTO">
		SELECT * FROM
		tbl_delivery_adbk WHERE email = #{email} AND delivery_adbk_ncm
		=
		#{delivery_adbk_ncm}
	</select>

	<insert id="insertorder">
		INSERT INTO tbl_order (order_no, email, delivery_no,
		order_totamt, setle_mth, delivery_adbk_no) VALUES
		(SQL_TBL_ORDER.nextval, #{email},
		#{delivery_no}, #{order_totamt},
		#{setle_mth}, #{delivery_adbk_no})
	</insert>

	<insert id="insertdelivery">
		INSERT INTO tbl_delivery (delivery_no,
		delivery_bizrno,
		delivery_cost, delivery_date)
		VALUES
		(SEQ_TBL_DELIVERY.nextval, '316-46-00107', 2500, sysdate + (INTERVAL
		'3' DAY))
	</insert>

	<select id="orderlist" resultType="CartDTO">
		SELECT * FROM tbl_cart WHERE
		email = #{email}
	</select>

	<select id="adbkconfirm" resultType="DeliveryAdbkDTO">
		SELECT * FROM
		tbl_delivery_adbk WHERE email = #{email} AND delivery_adbk_ncm
		=
		#{delivery_adbk_ncm}
	</select>


	<select id="adbkselect" resultType="DeliveryAdbkDTO">
		SELECT * FROM
		tbl_delivery_adbk WHERE email = #{email}
	</select>

	<insert id="adbkInsert">
		INSERT INTO tbl_delivery_adbk (email,
		delivery_adbk_no, delivery_adbk_ncm,
		delivery_place_tlnum,
		delivery_place_adres,
		delivery_place_adres_detail) VALUES (#{email},
		#{delivery_adbk_no},
		#{delivery_adbk_ncm}, #{delivery_place_tlnum},
		#{delivery_place_adres},
		#{delivery_place_adres_detail})
	</insert>

	<select id="getAdbkNoByEmail" resultType="Integer">
		SELECT
		MAX(delivery_adbk_no) FROM tbl_delivery_adbk WHERE email = #{email}
	</select>
</mapper>

